<!DOCTYPE html>
<html lang="en">

<head>
    <title>eShop</title>
    <%include partials/header2.ejs%>
</head>

<body>

    <%include partials/menu.ejs%>
    <%include partials/siteBranding2.ejs%>

    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        
                    </ul>
                </div>  
            </div>
        </div>
    </div> <!-- End mainmenu area -->
   
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Cửa hàng</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 20px"></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-3">
                <label>Loại sản phẩm</label>
                <select class="srchTxt">
                    <option>Tất cả</option>
                    <option>Điện thoại </option>
                    <option>Quần áo </option>
                    <option>Laptop </option>
                    <option>Giày </option>
                    <option>Sách </option>
                </select>
            </div>
            <div class="col col-md-3">
                <label>Nhà sản xuất</label>
                <select class="srchTxt">
                    <option>Tất cả</option>
                    <option>Điện thoại </option>
                    <option>Quần áo </option>
                    <option>Laptop </option>
                    <option>Giày </option>
                    <option>Sách </option>
                </select>
            </div>
            <div class="col col-md-3">
                <label>Phân loại</label>
                <select class="srchTxt">
                    <option>Tất cả</option>
                    <option>Điện thoại </option>
                    <option>Quần áo </option>
                    <option>Laptop </option>
                    <option>Giày </option>
                    <option>Sách </option>
                </select>
            </div>
        </div>
    </div>

    <div style="height: 20px"></div>

    <div class="container">

        <div class="row justify-content-center">


            <div class="col-md-6">
                <input class="col-md-12" type="text" placeholder="Search products...">
            </div>
            <select class="srchTxt">
                <option>Tất cả</option>
                <option>Điện thoại </option>
                <option>Quần áo </option>
                <option>Laptop </option>
                <option>Giày </option>
                <option>Sách </option>
            </select>

            <input type="submit" value="Tìm kiếm">

        </div>


    </div>

    <div class="container">

    </div>

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
<!--                <div class="col-md-3 col-sm-6">-->
<!--                    <div class="single-shop-product">-->
<!--                        <div class="product-upper">-->
<!--                            <a href="/productInfo"><img src="images/product-2.jpg" alt=""></a>-->
<!--                        </div>-->
<!--                        <h2><a href="/productInfo"><%= list_items[0].name %></a></h2>-->
<!--                        <div class="product-carousel-price">-->
<!--                            <ins>$899.00</ins> <del>$999.00</del>-->
<!--                        </div>-->

<!--                        <div class="product-option-shop">-->
<!--                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"-->
<!--                                rel="nofollow" href="/productInfo">Thêm vào giỏ hàng</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <% for(var i = 0; i < 12; i++) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <a href="<%= list_items[i].url %>"><img src="../<%= list_items[i].img %>" alt=""></a>
                        </div>
                        <h2><a href="<%= list_items[i].url %>"><%= list_items[i].name %></a></h2>
                        <div class="product-carousel-price">
                            <ins><%= list_items[i].price_sale %></ins> <del><%= list_items[i].price %></del>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                rel="nofollow" href="/productInfo">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
                <% }; %>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%include partials/footer.ejs%>
</body>

</html>