<!DOCTYPE html>
<html lang="en">

<head>
    <title>eShop</title>
    <%include partials/header2.ejs%>
</head>

<body>

    <%include partials/menu.ejs%>
    <%include partials/siteBranding2.ejs%>

   
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Cửa hàng</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
               
                    <!-- <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="">
                            <input type="text" placeholder="Search products...">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins> <del>$800.00</del>
                            </div>                             
                        </div>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins> <del>$800.00</del>
                            </div>                             
                        </div>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins> <del>$800.00</del>
                            </div>                             
                        </div>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins> <del>$800.00</del>
                            </div>                             
                        </div>
                    </div>
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Recent Posts</h2>
                        <ul>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                        </ul>
                    </div>-->

                <div class="col-md-4">
<!--                    <div class="single-sidebar">-->
<!--                        <h2 class="sidebar-title">Search Products</h2>-->
<!--                        <form action="">-->
<!--                            <input type="text" placeholder="Search products...">-->
<!--                            <input type="submit" value="Search">-->
<!--                        </form>-->
<!--                    </div>-->

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Bình luận</h2>
                        <%
                        var maxIndex = (numPageCmt + 1) * 4;

                        if(maxIndex > list_comments.length)
                            maxIndex = list_comments.length;


                        for(var i = numPageCmt*4; i < maxIndex; i++)
                        {%>
                        <div class="thubmnail-recent">

                            <img src="../images/avatar.png" class="recent-thumb" alt="">
                            <h2><%=list_comments[i].name%></h2>
                            <div class="product-sidebar-price">
                                <p><%=list_comments[i].comment%></p>
                            </div>
                        </div>
                        <%}%>
                        <div class="product-pagination text-center">
                            <nav>
                                <ul class="pagination">

                                    <%
                                    var numOfPage = list_comments.length/4;
                                    for(let i = 0; i < numOfPage; i++){
                                    %>
                                    <li><a href="<%=item._id%>/Page?id=<%=i%>"><%=i + 1%></a></li>
                                    <%}%>

                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="/">Home</a>
                            <a href="/">Category Name</a>
                            <a href=""><%=item.name%></a>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="<%= item.img %>" alt="">
                                    </div>
                                    
<!--                                    <div class="product-gallery">-->
<!--                                        <img src="../<%= item.img %>" alt="">-->
<!--                                        <img src="../<%= item.img %>" alt="">-->
<!--                                        <img src="../<%= item.img %>" alt="">-->
<!--                                        <img src="../<%= item.img %>" alt="">-->
<!--                                    </div>-->
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name"><%=item.name%></h2>
                                    <div class="product-inner-price">
                                        <ins><%= item.price_sale %></ins> <del><%= item.price %></del>
                                    </div>

                                    <form action="../Gio_hang" class="cart">
                                        <div class="quantity">
                                            <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                        </div>
                                        <a href="../Gio_hang"><button class="add_to_cart_button" type="submit">Thêm vào giỏ hàng</button></a>
                                    </form>
                                    
                                    <!-- <div class="product-inner-category">
                                        <p>Category: <a href="">Summer</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
                                    </div>  -->
                                    
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mô tả</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Đánh giá</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Mô tả sản phẩm</h2>
                                                <p>
                                                    <%=item.info%>
                                                </p>
                                                <p>
                                                    <%=item.info%>
                                                </p>
                                                <p>
                                                    Số lần được xem: <%=item.TimesWatched%>
                                                </p>
                                           </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Đánh giá</h2>
                                                <div class="submit-review">
                                                    <form method="POST" action="<%=item.commentUrl%>">
                                                    <p><label for="name">Tên</label> <input name="name" type="text"></p>
<!--                                                    <div class="rating-chooser">-->
<!--                                                        <p>Xếp hạng</p>-->

<!--                                                        <div class="rating-wrap-post">-->
<!--                                                            <i class="fa fa-star"></i>-->
<!--                                                            <i class="fa fa-star"></i>-->
<!--                                                            <i class="fa fa-star"></i>-->
<!--                                                            <i class="fa fa-star"></i>-->
<!--                                                            <i class="fa fa-star"></i>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
                                                    <p><label for="review">Viết đánh giá</label> <textarea name="comment" id="" cols="30" rows="10"></textarea></p>
                                                    <p><input type="submit" value="Gửi"></p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Sản phẩm hay được mua kèm</h2>
                            <div class="related-products-carousel">
                                <%for(let i = 0; i < 6; i++){%>
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src="<%=list_items[i].img%>" alt="">
                                        <div class="product-hover">
                                            <a href="<%=list_items[i]._id%>" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>

                                    <h2><a href="list_items[i]._id"><%=list_items[i].name%></a></h2>

                                    <div class="product-carousel-price">
                                        <ins><%=list_items[i].price%></ins> <del><%=list_items[i].price_sale%></del>
                                    </div>
                                </div>
                                <%}%>

                            </div>
                        </div>
                                <!-- <div class="related-products-wrapper">
                                    <h2 class="related-products-title">Related Products</h2>
                                    <div class="related-products-carousel">
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="img/product-1.jpg" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Sony Smart TV - 2015</a></h2>

                                            <div class="product-carousel-price">
                                                <ins>$700.00</ins> <del>$800.00</del>
                                            </div>
                                        </div>
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="img/product-2.jpg" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                                            <div class="product-carousel-price">
                                                <ins>$899.00</ins> <del>$999.00</del>
                                            </div>
                                        </div>
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="img/product-3.jpg" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Apple new i phone 6</a></h2>

                                            <div class="product-carousel-price">
                                                <ins>$400.00</ins> <del>$425.00</del>
                                            </div>
                                        </div>
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="img/product-4.jpg" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Sony playstation microsoft</a></h2>

                                            <div class="product-carousel-price">
                                                <ins>$200.00</ins> <del>$225.00</del>
                                            </div>
                                        </div>
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="img/product-5.jpg" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Sony Smart Air Condtion</a></h2>

                                            <div class="product-carousel-price">
                                                <ins>$1200.00</ins> <del>$1355.00</del>
                                            </div>
                                        </div>
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="img/product-6.jpg" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Samsung gallaxy note 4</a></h2>

                                            <div class="product-carousel-price">
                                                <ins>$400.00</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                    </div>                    
                </div>


            </div>
        </div>
    </div>
    <%include partials/footer2.ejs%>
    <script src="../javascripts/MyJS.js"></script>
  </body>
</html>